In [1]:
%cd C:\\Users\\Cyber
%pwd

C:\Users\Cyber

'C:\\Users\\Cyber'

In [2]:
from FinanceTester.strategy import strategy
from FinanceTester.data import (PriceReader, SheetReader, StockListing, PriceCrossSectionReader)
from FinanceTester.sheet.data import (FinanceSheetCrawler)
from FinanceTester._utils import NegativeDenominatorError

In [3]:
import pandas as pd
import datetime
import numpy as np

In [5]:
kospi_basket=StockListing('Kospi').Symbol
test_basket=np.random.permutation(kospi_basket)[:100]

In [6]:
a=strategy()

In [7]:
def score_1(df):
    market_cap = df.loc['Market_cap']/100000000
    book_value = df.loc['190670'] #순자산 by NAVER Finance
    upper = market_cap - book_value
    lower = df.loc['400000'] #영업활동현금흐름
    if lower.values < 0 :
        raise NegativeDenominatorError()
    score = upper/lower
    return '%.4f' %score.values

In [8]:
a.fit(score_1)
b=a.screening(test_basket)

023530 has negative denominator
001880 doesn't have account which you ask
004410 doesn't have account which you ask
023450 doesn't have account which you ask
011200 has negative denominator
001450 doesn't have account which you ask
016090 doesn't have account which you ask
105560 doesn't have account which you ask
207940 doesn't have account which you ask
008730 doesn't have account which you ask
003460 doesn't have account which you ask
001020 has negative denominator
002960 doesn't have account which you ask
298040 doesn't have account which you ask
008420 doesn't have account which you ask
298050 doesn't have account which you ask
007110 doesn't have account which you ask
009180 has negative denominator
024110 doesn't have account which you ask
003010 has negative denominator
000400 doesn't have account which you ask
000320 has negative denominator
034300 doesn't have account which you ask
210980 has negative denominator
140890 doesn't have account which you ask
119650 has negative denominator
030610 doesn't have account which you ask
007610 has negative denominator
088260 doesn't have account which you ask
006120 has negative denominator
035510 doesn't have account which you ask
002630 has negative denominator
005870 doesn't have account which you ask
001720 doesn't have account which you ask
011330 has negative denominator
140910 doesn't have account which you ask
009190 doesn't have account which you ask
004450 doesn't have account which you ask
003830 doesn't have account which you ask
008600 has negative denominator
192400 has negative denominator
001070 has negative denominator
090370 has negative denominator
000810 doesn't have account which you ask

In [9]:
b

           score
101060  -40.6884
001130  -23.5466
024070  -20.0963
004360  -18.8849
003200  -18.8759
006200  -10.4354
000140   -7.5056
009440   -7.3941
049800   -6.4013
010620   -6.1740
000210   -6.0507
013870   -5.9513
004150   -5.2583
000050   -4.6122
128820   -4.6026
089470   -4.0594
005430   -3.9826
012200   -3.9169
005850   -3.5551
013520   -2.7839
000880   -2.7232
064960   -2.5556
033240   -2.3370
004250   -1.8970
004960   -1.8230
000970   -1.5151
066570   -0.5157
002870   -0.0394
002150    0.3740
016380    0.5152
003090    1.7568
085310    2.0367
004000    2.5565
006340    3.1163
002780    3.9389
195870    6.7936
002720    6.9034
014680    6.9935
286940    7.1590
115390    8.6485
001570    9.0522
019170    9.4617
267270    9.6152
078520    9.8605
000100   10.8416
081660   12.0870
234080   16.1623
004920   21.0149
096760   30.1420
026960   32.2462
251270   51.3288
024900   55.6936
011810   76.4671
145720  129.9072
039570       NaN
004770       NaN

In [6]:
SheetReader('005930','BS','q')

,ACC_NM,2017/03,2017/06,2017/09,2017/12,2018/03,2018/06(E)
ACCODE,,,,,,,
110000,자산총계,2642173.72,2775894.36,2965785.79,3017520.90,3124731.13,3208189.65
112830,유동자산,1292842.04,1321726.81,1453223.37,1469824.64,1549419.53,1585610.74
112840,....재고자산,218575.98,230209.12,270325.01,249833.55,264708.71,NaN
190430,........상품,NaN,NaN,NaN,NaN,NaN,NaN
190440,........제품,62620.70,68371.12,81395.22,73044.37,76498.03,NaN
190450,........완성건물,NaN,NaN,NaN,NaN,NaN,NaN
190460,........원재료,90080.47,94765.40,107056.76,94132.17,96293.99,NaN
190470,........용지,NaN,NaN,NaN,NaN,NaN,NaN
190480,........재공품,NaN,NaN,NaN,NaN,NaN,NaN
190490,"........미완성건물,공사",NaN,NaN,NaN,NaN,NaN,NaN
190500,........반제품,56726.86,58537.55,69701.99,71139.01,80747.69,NaN
190510,........미착품,9147.95,8535.05,12171.04,11518.00,11169.00,NaN
190520,........저장품(소모품),NaN,NaN,NaN,NaN,NaN,NaN
190530,........기타재고자산,NaN,NaN,NaN,NaN,NaN,NaN
133020,....유동생물자산,NaN,NaN,NaN,NaN,NaN,NaN
113090,....단기금융자산,458393.49,414950.01,452449.18,526390.71,497608.60,NaN
113100,........단기매매금융자산,NaN,NaN,NaN,NaN,NaN,NaN
113110,........당기손익인식(지정)금융자산,NaN,NaN,NaN,NaN,NaN,NaN
113120,........단기금융상품,417754.04,377962.29,412806.68,494476.96,460277.00,NaN
190540,........단기대여금,NaN,NaN,NaN,NaN,NaN,NaN
113240,........단기매도가능금융자산,40639.45,36987.72,39642.50,31913.75,NaN,NaN
113250,........단기만기보유금융자산,NaN,NaN,NaN,NaN,37331.60,NaN
113260,........단기파생상품자산,NaN,NaN,NaN,NaN,NaN,NaN
190550,........금융리스채권,NaN,NaN,NaN,NaN,NaN,NaN
113340,........기타단기금융자산,NaN,NaN,NaN,NaN,NaN,NaN
113350,....매출채권및기타채권,258977.27,307834.69,339025.26,318049.56,385925.00,NaN
190560,........매출채권,223406.88,275859.23,303512.45,276959.95,353706.54,NaN
190570,........미수금등,35570.39,31975.46,35512.81,41089.61,32218.46,NaN
190580,........단기대출채권,NaN,NaN,NaN,NaN,NaN,NaN
190600,........미수수익,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
120030,........보통주자본금,7780.47,7780.47,7780.47,7780.47,7780.47,NaN
120040,........우선주자본금,1194.67,1194.67,1194.67,1194.67,1194.67,NaN
120710,....신종자본증권,NaN,NaN,NaN,NaN,NaN,NaN
120050,....자본잉여금,44038.93,44038.93,44038.93,44038.93,44038.93,NaN
120060,........주식발행초과금,44038.93,44038.93,44038.93,44038.93,44038.93,NaN
120150,........전환권대가,NaN,NaN,NaN,NaN,NaN,NaN
120160,........신주인수권대가,NaN,NaN,NaN,NaN,NaN,NaN
120170,........교환권대가,NaN,NaN,NaN,NaN,NaN,NaN
190680,........기타,NaN,NaN,NaN,NaN,NaN,NaN
120210,....기타자본,-117454.01,-66367.75,-62178.28,-62221.51,-48686.92,NaN
120220,........자기주식,-117961.21,-66364.50,-62144.62,-62281.87,-48751.63,NaN
120230,........자기주식처분손실,NaN,NaN,NaN,NaN,NaN,NaN
190690,........기타,507.20,-3.25,-33.66,60.36,64.71,NaN
120310,....기타포괄이익누계액,-71608.96,-42341.30,-23521.74,-76770.40,-70336.08,NaN
120320,........금융자산평가손익,NaN,NaN,NaN,NaN,NaN,NaN
120330,........매도가능금융자산평가손익,15619.24,18556.47,21312.25,18797.74,17372.79,NaN
120340,........관계기업등기타포괄이익,394.85,1087.03,1175.03,403.94,959.94,NaN
120350,........환산관련외환차이적립금(환율변동차이),NaN,NaN,-37119.58,-91920.02,-81547.56,NaN
120380,........현금흐름위험회피적립금,NaN,NaN,NaN,NaN,-93.09,NaN
120400,........재평가잉여금,NaN,NaN,NaN,NaN,NaN,NaN
190700,........기타,-87623.05,-61984.80,-8889.44,-4052.06,-7028.16,NaN
120460,....이익잉여금,1967244.97,1992239.59,2067730.05,2158112.00,2224853.98,NaN
120470,....*(지배)당기순이익,74885.32,182884.74,293282.45,413445.69,116118.33,NaN
120620,비지배주주지분,66983.48,70512.87,71868.41,72780.12,73753.75,NaN
120630,*(비지배)당기순이익,1958.22,4497.31,6033.71,8421.78,767.11,NaN
120650,수권주식수,500000.00,500000.00,500000.00,500000.00,500000.00,NaN
120660,1주당금액,5000.00,5000.00,5000.00,5000.00,5000.00,NaN
120670,발행주식수,161193.00,149312.00,148187.00,147349.00,146459.00,NaN
120680,보통주,140679.00,130668.00,129768.00,129098.00,128386.00,NaN
120690,우선주,20513.00,18644.00,18419.00,18251.00,18073.00,NaN

In [4]:
SheetReader(symbol='005930',sheet_typ= -1,freq_typ='Y')

,ACC_NM,2013/12,2014/12,2015/12,2016/12,2017/12,2018/12(E)
ACCODE,,,,,,,
200000,매출액(수익),2286926.67,2062059.87,2006534.82,2018667.45,2395753.76,2.511211e+06
200010,*내수,NaN,207289.17,208278.22,NaN,NaN,NaN
200020,*수출,NaN,1854770.70,1798256.60,NaN,NaN,NaN
200040,....제품매출액,NaN,NaN,NaN,NaN,NaN,NaN
200070,....상품매출액,NaN,NaN,NaN,NaN,NaN,NaN
200100,....제품상품매출액,NaN,NaN,NaN,NaN,NaN,2.511211e+06
200130,....공사수익,NaN,NaN,NaN,NaN,NaN,NaN
200160,....분양수익,NaN,NaN,NaN,NaN,NaN,NaN
200170,....용역수익,NaN,NaN,NaN,NaN,NaN,NaN
200220,....지분법이익,NaN,NaN,NaN,NaN,NaN,NaN
200230,....금융수익,NaN,NaN,NaN,NaN,NaN,NaN
200240,....배당수익,NaN,NaN,NaN,NaN,NaN,NaN
200250,....이자수익,NaN,NaN,NaN,NaN,NaN,NaN
290100,....기타,2286926.67,2062059.87,2006534.82,2018667.45,2395753.76,NaN
200360,매출원가,1376963.09,1282788.00,1234821.18,1202777.15,1292906.61,NaN
200380,....제품매출원가,NaN,NaN,NaN,NaN,NaN,NaN
200460,....상품매출원가,NaN,NaN,NaN,NaN,NaN,NaN
200550,....제품상품매출원가,NaN,NaN,NaN,NaN,NaN,NaN
200630,....건설계약원가,NaN,NaN,NaN,NaN,NaN,NaN
200640,....분양원가,NaN,NaN,NaN,NaN,NaN,NaN
200650,....용역원가,NaN,NaN,NaN,NaN,NaN,NaN
200700,....지분법손실,NaN,NaN,NaN,NaN,NaN,NaN
200710,....금융비용,NaN,NaN,NaN,NaN,NaN,NaN
200720,....이자비용,NaN,NaN,NaN,NaN,NaN,NaN
290200,....기타,1376963.09,1282788.00,1234821.18,1202777.15,1292906.61,NaN
200810,매출총이익,909963.58,779271.87,771713.64,815890.30,1102847.15,1.217011e+06
204420,상각후원가로측정하는금융자산의제거로부터발생한이익,NaN,NaN,NaN,NaN,NaN,NaN
204430,상각후원가로측정하는금융자산의제거로부터발생한손실,NaN,NaN,NaN,NaN,NaN,NaN
200820,판매비와관리비,542113.45,529021.16,507579.22,523483.58,566396.77,NaN
200830,....급여,55593.39,52141.71,55427.01,56874.94,65407.15,NaN
...,...,...,...,...,...,...,...
404130,........파생상품의변동,NaN,NaN,NaN,NaN,NaN,NaN
404140,........금융리스부채의감소,NaN,NaN,NaN,NaN,NaN,NaN
404150,........보증금등의감소,NaN,NaN,NaN,NaN,NaN,NaN
404660,........기타금융부채의감소,NaN,NaN,NaN,NaN,NaN,NaN
404160,........기타부채의감소,NaN,NaN,NaN,NaN,NaN,NaN
404170,........자본금의감소,NaN,NaN,NaN,NaN,NaN,NaN
404190,........자본잉여금의감소,NaN,NaN,NaN,NaN,NaN,NaN
404200,........종속회사의감자등,NaN,NaN,NaN,NaN,NaN,NaN
404210,........이익잉여금의감소(배당제외),NaN,NaN,NaN,NaN,NaN,NaN
404220,........자기주식의취득,NaN,11253.22,50151.12,77079.38,83504.24,NaN
404230,........연결자본거래현금유출액,NaN,NaN,NaN,NaN,NaN,NaN
404240,........종속기업소유지분변동에따른현금흐름,NaN,NaN,NaN,NaN,NaN,NaN
404250,........비지배주주지분의감소,NaN,NaN,253.12,NaN,NaN,NaN
404260,........정부보조금등의변동,NaN,NaN,NaN,NaN,NaN,NaN
404270,........환율변동으로인한차이조정,NaN,NaN,NaN,NaN,NaN,NaN
404670,........합병분할(양수도등)으로인한현금유입액,NaN,NaN,NaN,NaN,NaN,NaN
404280,........기타재무활동으로인한현금유출액,NaN,NaN,NaN,NaN,NaN,NaN
404290,....이자수입,NaN,NaN,NaN,NaN,NaN,NaN
404300,....이자지급(-),NaN,NaN,NaN,NaN,NaN,NaN
404310,....배당금수입,NaN,NaN,NaN,NaN,NaN,NaN
404320,....배당금지급(-),-12496.72,-22339.05,-31295.44,-31147.42,-68042.97,NaN
404330,....법인세환입,NaN,NaN,NaN,NaN,NaN,NaN
404340,....법인세납부(-),NaN,NaN,NaN,NaN,NaN,NaN
404350,....중단사업관련현금흐름,NaN,NaN,NaN,NaN,NaN,NaN
404360,영업투자재무활동기타현금흐름,NaN,NaN,NaN,NaN,NaN,NaN
404370,연결범위변동으로인한현금의증가,NaN,NaN,NaN,NaN,NaN,NaN
404380,환율변동효과,-3300.70,-5558.86,-5244.87,4172.43,-17822.70,NaN
404390,현금및현금성자산의증가,-25066.80,5559.86,57959.78,94746.98,-15663.12,NaN
404400,기초현금및현금성자산,187914.60,162847.80,168407.66,226367.44,321114.42,NaN
404410,기말현금및현금성자산,162847.80,168407.66,226367.44,321114.42,305451.30,NaN

In [13]:
c=SheetReader(symbol='005930',sheet_typ= -1,freq_typ='Y').iloc[:,1:-1].dropna(how='all')

In [33]:
pd.to_datetime(c.columns)

DatetimeIndex(['2013-12-01', '2014-12-01', '2015-12-01', '2016-12-01',
               '2017-12-01'],
              dtype='datetime64[ns]', freq=None)

In [15]:
c

           2013/12     2014/12     2015/12     2016/12     2017/12
ACCODE
200000  2286926.67  2062059.87  2006534.82  2018667.45  2395753.76
200010         NaN   207289.17   208278.22         NaN         NaN
200020         NaN  1854770.70  1798256.60         NaN         NaN
290100  2286926.67  2062059.87  2006534.82  2018667.45  2395753.76
200360  1376963.09  1282788.00  1234821.18  1202777.15  1292906.61
290200  1376963.09  1282788.00  1234821.18  1202777.15  1292906.61
200810   909963.58   779271.87   771713.64   815890.30  1102847.15
200820   542113.45   529021.16   507579.22   523483.58   566396.77
200830    55593.39    52141.71    55427.01    56874.94    65407.15
200840     2326.76     3007.76     2956.52     2887.67     2564.48
201050    91248.03    84991.07    84395.86    80025.13    77031.11
201080     5559.44     6707.09     7148.83     7802.23     9483.93
201100     4019.87     3997.17     2557.08     2215.93     3882.27
201130   143194.02   143855.06   137056.95   141113.81   163556.12
201160    41652.90    37736.49    38524.78    44321.09    53508.39
201210    80194.62    77606.48    71019.37    70805.54    72620.78
201290    29677.24    32017.76         NaN         NaN         NaN
290700    39291.14    37330.45    62827.82    70872.96    66543.76
201360    49356.04    49630.12    45665.00    46564.28    51798.78
293800    57920.15    55149.47    58383.53    59762.61    67971.63
293900   244021.36   239550.39   231158.72   231157.10   253953.43
294000   190815.90   184691.18   172371.97   185999.59   192672.93
201370   367850.13   250250.71   264134.42   292406.72   536450.38
202210    80146.72    82598.29   105148.79   113856.45    97373.91
202220    13516.09    18333.61    17611.57    15043.18    16142.23
202240    61995.17    57666.40    77657.97    90524.95    72788.88
202270    61995.17    57666.40    77657.97    90524.95    72788.88
202440     4635.46     6598.28     9879.25     8288.32     8442.80
202550    77549.72    72940.02   100317.71   107066.13    89789.13
202560     5096.58     5929.40     7765.11     5878.31     6554.02
...            ...         ...         ...         ...         ...
404560         NaN         NaN         NaN         NaN    12488.34
402910         NaN      132.73     4212.31      199.36         NaN
402920   468543.92   375026.03   345688.60   380468.53   541285.93
402930   193916.43    37784.52    62721.32    89101.61         NaN
403040         NaN    32483.74     1327.33    17415.47    10793.55
403050    15313.56    62121.02     2325.30    14981.48     3584.97
403060         NaN         NaN         NaN         NaN     1067.51
403100     1813.07     7198.00     1379.17      843.06      252.93
403200   231575.87   220429.43   258802.22   241429.73   427922.34
494700   231575.87   220429.43   258802.22   241429.73   427922.34
404580     9347.43    13243.07    15018.81    10476.68     9837.40
403450     9347.43    13243.07    15018.81    10476.68     9837.40
404630     1671.55     1766.25     4114.45     6220.50    87542.68
403550    14906.01         NaN         NaN         NaN      284.55
403630   -41370.31   -30571.09   -65735.09   -86695.14  -125608.67
403640     3426.13    36017.13    33979.24    24060.12    37346.57
403660         NaN    18334.19    32024.16    13510.37    27306.76
403750      266.72    17405.73     1924.74    10417.43     9983.11
403890      343.90      275.82       30.34         NaN         NaN
403930     2815.51        1.39         NaN      132.32       56.70
403970    32299.72    44249.17    68418.89    79607.84    94912.27
403990    18615.36         NaN         NaN         NaN         NaN
404080    13684.36    32995.95    18014.65     2528.46    11408.03
404220         NaN    11253.22    50151.12    77079.38    83504.24
404250         NaN         NaN      253.12         NaN         NaN
404320   -12496.72   -22339.05   -31295.44   -31147.42   -68042.97
404380    -3300.70    -5558.86    -5244.87     4172.43   -17822.70
404390   -25066.80     5559.86    57959.78    94746.98   -15663.12
404400   187914.60   162847.80   168407.66   226367.44   321114.42
404410   162847.80   168407.66   226367.44   321114.42   305451.30

[266 rows x 5 columns]